<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block title%} {%endblock%}</title>
</head>
<body>
    <h1>Dont Work here</h1>
    {%block content%}{%endblock%}
    {%block footer%}
    <hr>
    <p>Thanks for visiting my site</p>
    {%endblock%}
</body>
</html>